<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>

<style>
    <!--https://jeromejaglale.com/doc/css/pretty_button -->
    .button {
        text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
        border-radius: 5px;
        display: inline-block;
        color: white;
        padding: 5px 10px 5px;
        white-space: nowrap;
        text-decoration: none;
        background: #A9014B;
        border-style: none;
        text-align: center;
        overflow: visible;
    }
     
    .button:hover,
    .button:focus {
        background-position: 0 -50px;
        color: white;
    }
    
    .devicespanel{
        position: relative;
        margin-left: 20%;
        margin-top: 5%;
        width: 30%;
    }
    
    #container{
        width: 100%;
        margin-left: 5%;
        margin-top: 5%;
    }
    
    .choice{
        margin-top: 2%;
        margin-left: 2%;
    }

</style>
<body>
<div class="choice">

    <form method = "get">
        <label for="birthday">Show data in selected period</label>
        <input type="date" id="datefrom" name="From">
        <input type="date" id="dateto" name="To">
        <input type="submit" value="Show">
    
    </form>

</div>
<div id="container">
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas_dht22"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
    
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas_photoresistor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="devicespanel">
        <form action = "" method = "post">
         <p><input class = "button" type = "submit" value = "Change Red LED" name = "red_led" /></p>
      </form>
    </div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config_dht22 = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Temperature(*C)",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(0, 240, 0)',
                    data: [],
                    fill: false,
                },{
                    label: "Humidity(%)",
                    backgroundColor: 'rgb(155, 30, 17)',
                    borderColor: 'rgb(25, 25, 240)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Realtime DHT22 chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };
        
        const config_photoresistor = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Photoresistor(boolean)",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(0, 240, 0)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Realtime Photoresistor chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        
        var sensors = ["dht22", "photoresistor"]


        const dht22context = document.getElementById('canvas_dht22').getContext('2d');
        const photoresistorcontext = document.getElementById('canvas_photoresistor').getContext('2d');

        const lineChart_dht22 = new Chart(dht22context, config_dht22);
        const lineChart_photoresistor = new Chart(photoresistorcontext, config_photoresistor);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            
            if (data.sensor == "DHT22"){
                if (config_dht22.data.labels.length === 20) {
                config_dht22.data.labels.shift();
                config_dht22.data.datasets[0].data.shift();
                }
                config_dht22.data.labels.push(data.time);
                config_dht22.data.datasets[0].data.push(data.value[0]);
                config_dht22.data.datasets[01].data.push(data.value[1]);
                lineChart_dht22.update();
                
            }else if (data.sensor == "Photoresistor"){
                if (config_photoresistor.data.labels.length === 20) {
                config_photoresistor.data.labels.shift();
                config_photoresistor.data.datasets[0].data.shift();
                }
                config_photoresistor.data.labels.push(data.time);
                config_photoresistor.data.datasets[0].data.push(data.value);
                lineChart_photoresistor.update();
            }
        }
        
        
    });
</script>
</body>
</html>
