<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time control panel</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
    <!--https://jeromejaglale.com/doc/css/pretty_button -->

     
    .button:hover,
    .button:focus {
        background-position: 0 -50px;
        color: white;
    }
    
    .container{
        width: 65%;
        margin-top: 2%;
        margin-left: 0%;
        display:inline-block;
        vertical-align: top;
        padding: 2%;
    }
    .container-2{
        margin: 2%;
        width: 30%;
        display:inline-block;
        right: 2%;
        vertical-align: top;
        padding: 2%;
    }

    
    .choice{
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 1%;
    }
    
    .pdng{
        padding-top: 0%;
        padding-left: 10%;
        width: 100%;
        height: 100px;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .devicedisplay{
        margin-right: 2%;
        float: left;
        width: 40%;
        height: 40px;
    }
    
    .status{
        border: 1px solid black;
    }
    
    .main-c: background-color: gray;

</style>

<body>
<div class="main-c">
    <div class="w3-card-4 container" id="graph-container">
        <h1>Monitoring panel</h1>
        <div class="choice">
            <div class="w3-card" style="padding: 5px;">
                <form action ="http://localhost:5000/" method = "GET">
                    <label>Show data in selected period</label>
                    <select id="title" name="SelectedSensor">
                         <!--<option value="DHT22">DHT22</option>
                         <option value="Photoresistor">Photoresistor</option>-->
                    </select>
                    <input type="date" name="DateFrom">
                    <input type="date" name="DateTo">
                    <input type="submit" value="Show">
                
                </form>
            </div>
        </div>
        <!--
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="canvas_dht22"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="canvas_photoresistor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            -->
    </div>


    <div class="w3-card-4 container-2">
        <h1>Control panel</h1>
        <div id="device-container">
            <!--
            <div class="w3-card pdng">               
                <p><b>RED LED</b></p>
              <form action = "" method = "POST">
                 <p><input class = "devicedisplay" type = "submit" value = "Change status" name = "red_led" /></p>
              </form>
              <div class="devicedisplay status"></div>
            </div>
            <div class="w3-card pdng">               
                <p><b>RED LED</b></p>
              <form action = "" method = "POST">
                 <p><input class = "devicedisplay" type = "submit" value = "Change status" name = "red_led" /></p>
              </form>
              <div class="devicedisplay status"></div>
            </div>
            -->
        </div>
    </div>
</div>

<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
    
 function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
        /*
        var sensors = [{
                name: "DHT22",
                labels: ["Temperature", "Humidity"]
            },
            {name: "Photoresistor",
            labels: ["Boolean"]
            }];
            */
        var sensors = [];
        var devices = [];

        {% for key, parent_dict in sensors.items() %}
           sensors.push({
                    name: '{{ parent_dict["name"] }}',
                    labels: [{% for label in parent_dict['labels'] %}   '{{ label }}',  {% endfor %}]
               });
        {% endfor %}
        
        {% for key, parent_dict in devices.items() %}
           devices.push({
                    name: '{{ parent_dict["name"] }}',
                    status: '{{ parent_dict["status"] }}'
               });
        {% endfor %}
    

        var configs = [];
        var charts = [];
        
        function getSensorNames(sensors){
            sn = []
            for (var i = 0;i < sensors.length;i++){
                sn.push(sensors[i].name);
            }
            return sn;
            
        }
           
        function buildSensorConfigs(sensors){
            sc = [];
            for (var i = 0; i < sensors.length;i++){
                sc.push(addSensorToConfig(sensors[i]));
            }
            return sc;
        }
        
        function addSensorToConfig(sensor){
            var temp_config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: ''
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };
            temp_config.data.datasets = [];
            for (j = 0; j < sensor.labels.length; j++){
                bgcolor = 'rgb('+getRandomInt(256)+', '+getRandomInt(256)+', '+getRandomInt(256)+')';
                bcolor = 'rgb('+getRandomInt(256)+', '+getRandomInt(256)+', '+getRandomInt(256)+')';
                temp_config.data.datasets.push({
                                        label: sensor.labels[j],
                                        backgroundColor: bgcolor,
                                        borderColor: bcolor,
                                        data: [],
                                        fill: false
                                            });
            }
            
            temp_config.options.title.text = sensor.name;
            console.log(temp_config.data.datasets);
            configs.push(temp_config);
            return temp_config;
        }
             
        //generate template for sensor graph
        function graphCanvasGenerate(sensor, config){
                canvas_name = 'canvas_'+sensor.name;
                
                graph_container = document.getElementById('graph-container');
                
                var sensor_container = document.createElement('div');
                sensor_container.classList.add("row");
                
                var container_col = document.createElement('div');
                container_col.classList.add("col");
                
                var container_card = document.createElement('div');
                container_card.classList.add("card");
                
                var container_cardbody = document.createElement('div');
                container_cardbody.classList.add("card-body");
                
                var container_canvas = document.createElement('canvas');
                container_canvas.id = canvas_name;
                
                container_cardbody.appendChild(container_canvas);
                container_card.appendChild(container_cardbody);
                container_col.appendChild(container_card);
                sensor_container.appendChild(container_col);
                
                graph_container.appendChild(sensor_container);
                
                var context = container_canvas.getContext('2d');
                
                var lineChart = new Chart(context, config);
                charts.push(lineChart);
        }
        
        
        //generate template for device
        function deviceGenerate(device){
            /*
            <div class="w3-card pdng">               
                <p><b>RED LED</b></p>
              <form action = "" method = "POST">
                 <p><input class = "devicedisplay" type = "submit" value = "Change status" name = "red_led" /></p>
              </form>
              <div class="devicedisplay status"></div>
            </div>
            */
            var devices_container = document.getElementById('device-container');
            
            var d_container = document.createElement('div');
            d_container.classList.add("w3-card");
            d_container.classList.add("pdng");
            
            var container_b = document.createElement('b');
            var container_p1 = document.createElement('p');
            
            container_b.innerHTML = device.name;
            container_p1.appendChild(container_b);
            
            var container_form = document.createElement('form');
            container_form.setAttribute('action','');
            container_form.setAttribute('method','POST');
            
            container_p2 = document.createElement('p');
            container_input = document.createElement('input');
            
            container_input.classList.add("devicedisplay");
            container_input.setAttribute('type', 'submit');
            container_input.setAttribute('value', 'Change status');
            container_input.setAttribute('name', device.name);
            
            container_p2.appendChild(container_input);
            container_form.appendChild(container_p2);
            
            container_div = document.createElement('div');
            container_div.classList.add('devicedisplay');
            container_div.classList.add('status');
            
            if (device.status == '1'){
                container_div.style.backgroundColor = 'green';
            }else if (device.status == '0'){
                container_div.style.backgroundColor = 'red';
            }
            
            d_container.appendChild(container_p1);
            d_container.appendChild(container_form);
            d_container.appendChild(container_div);
            
            devices_container.appendChild(d_container);
            
        }
        
        function generateSortedSensors(sensor){
            //<option value="DHT22" selected>DHT22</option>
            var select_container = document.getElementById('title');
            
            var option_container = document.createElement('option');
            option_container.setAttribute('value', sensor.name);
            option_container.innerHTML = sensor.name;
            select_container.appendChild(option_container);
            
        }
        
        //initialization
        sensorNames = getSensorNames(sensors);
        sensorConfigs = buildSensorConfigs(sensors); 
        
        
        for (var i = 0;i < sensors.length;i++){
            graphCanvasGenerate(sensors[i], sensorConfigs[i]);
            generateSortedSensors(sensors[i]);
        }
        
        for (var i = 0;i < devices.length;i++){
            deviceGenerate(devices[i]);
        }

            const source = new EventSource("/chart-data");
            


            
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                idx = sensorNames.indexOf(data.sensor);
                if (idx >= 0){
                    
                    if (configs[idx].data.labels.length === 20) {
                    configs[idx].data.labels.shift();
                    configs[idx].data.datasets[0].data.shift();
                    }
                    configs[idx].data.labels.push(data.time);
                    
                    len = configs[idx].data.datasets.length;
                    if (len > 1){
                        for (var jj = 0;jj < len; jj++){
                            configs[idx].data.datasets[jj].data.push(data.value[jj]);
                        }
                    }else{
                        configs[idx].data.datasets[0].data.push(data.value);
                    }
                    charts[idx].update();
                }
                
            }
            
        
        
        
        
        
        
    });
</script>
</body>
</html>
